@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

* {
	scroll-behavior: smooth;
	transition-duration: 250ms;
}

:root {
	font-family: Inter;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--brand-color: #10a37f;
	--brand-color-muted: #0e9976;
	--brand-color-dark: rgba(16, 163, 127, 0.15);
	--brand-color-dark-text: rgb(16, 163, 127);

	--rounded: 12px;
}

:root.light {
	--bg-inverted: #1b2128;
	--bg-muted: #7698bb05;
	--bg-main: #ffffff;
	--text: #1b2128;
	--text-muted: #728a96;
	--text-inverted: #ffffff;
	--border-color: #7698bb26;

	--bg-gray-1: #f3f5f6; /* back button */
	--bg-gray-2: white;
}

:root.dark {
	--bg-inverted: #1b2128;
	--bg-main: #0b0d10;
	--bg-muted: #7698bb05;
	--text: #ffffff;
	--text-muted: #728a96;
	--text-inverted: #1b2128;
	--border-color: #1b212880;

	--bg-gray-1: #0f1317;
	--bg-gray-2: #1e252c;
}

h1 {
	color: var(--text);
	font-weight: 600;
	font-size: 16px;
}

h2 {
	color: var(--text-muted);
}

button {
	cursor: pointer;
	user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
